@using Ogani.Data.Entities;

@model List<Category>
@{}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Categories</h6>
        </div>
        <a asp-controller="Category" asp-action="Create"  class="btn btn-info">Create Category</a>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                           
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>s
                            
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryDescription</td>
                            
                            <td class="d-flex justify-content-spacebetween">
                                <a asp-controller="Category" asp-action="Details" asp-route-id="@item.CategoryID" class="btn btn-info"  >Details</a>
                                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger">X</a>
                            </td>

                        </tr>
                            
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->