@model IEnumerable< BookStore.Models.Domain.Publisher>
@{
    ViewData["Title"] = "Add";
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark" asp-for="Publisher" asp-action="Add">Add more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h3>Publishers</h3>
            <table class="table table-stripped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Publisher Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PublisherName</td>
                            <td>
                                <a class="btn btn-success" asp-for="Publisher" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger" asp-controller="Publisher" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                        
                    }
                </tbody>

            </table>
            
        </div>
    </div>

</div>

